* {
  margin: 0;
  padding: 0; }

body {
  background-color: #e1e1e1; }

#myNavbar {
  background-color: #015DD6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  padding-bottom: 5px; }
  #myNavbar .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.06rem; }
  #myNavbar .navbar-collapse ul li a {
    letter-spacing: 0.06rem;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 8px; }
    #myNavbar .navbar-collapse ul li a:hover {
      border-radius: 13px 1px 13px 1px;
      background-color: rgba(0, 0, 0, 0.3);
      padding-bottom: 9px;
      border-bottom: 2px solid orange; }
    #myNavbar .navbar-collapse ul li a:focus {
      border-radius: 13px 1px 13px 1px;
      background-color: rgba(0, 0, 0, 0.3);
      border-bottom: 2px solid orange; }

#home .jumbotron {
  margin-top: 130px;
  margin-bottom: 80px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #fff; }
  #home .jumbotron h2 {
    font-weight: bold;
    letter-spacing: 0.08rem; }
  #home .jumbotron h3 {
    letter-spacing: 0.08rem; }
  #home .jumbotron h4 {
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 0.08rem; }
  #home .jumbotron .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #015DD6;
    border: 1px solid #015DD6;
    border-radius: 2px; }
    #home .jumbotron .btn:hover {
      border-radius: 13px 1px 13px 1px !important;
      border-bottom: 2px solid orange;
      margin-bottom: -1px; }

.about {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #fff; }
  .about h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #015DD6;
    letter-spacing: 0.07rem;
    display: block;
    width: 133px;
    font-weight: bold;
    font-size: 15px; }
  .about p {
    text-align: justify; }

.contact {
  height: 100%;
  font-weight: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f6755e; }
  .contact h4 {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.08rem; }
  .contact .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #015DD6;
    border: 1px solid #015DD6;
    border-radius: 2px; }
    .contact .btn:hover {
      border-radius: 13px 1px 13px 1px !important;
      border-bottom: 2px solid orange;
      margin-bottom: -1px; }

.reservation {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #1F2933; }
  .reservation h3 {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 2px solid #015DD6;
    letter-spacing: 0.09rem;
    display: block;
    width: 180px;
    font-size: 15px; }
  .reservation h4 {
    color: #fff;
    letter-spacing: 0.08rem;
    margin-top: 50px;
    font-weight: 100; }
  .reservation .personal_info, .reservation .user_confirm {
    margin-top: 30px; }
    .reservation .personal_info .form-group, .reservation .user_confirm .form-group {
      margin-top: -5px; }
    .reservation .personal_info input, .reservation .personal_info select, .reservation .user_confirm input, .reservation .user_confirm select {
      border: 1px solid #fff;
      box-shadow: none;
      height: 40px;
      border-radius: 1px;
      outline: none; }
  .reservation .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #015DD6;
    border: 1px solid #015DD6;
    border-radius: 2px;
    letter-spacing: 0.08rem; }
    .reservation .btn:hover {
      border-radius: 13px 1px 13px 1px !important;
      border-bottom: 2px solid orange;
      margin-bottom: -1px; }

.reservation_sign {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff; }
  .reservation_sign h4 {
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 0.08rem; }
  .reservation_sign .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #015DD6;
    border: 1px solid #015DD6;
    border-radius: 2px; }
    .reservation_sign .btn:hover {
      border-radius: 13px 1px 13px 1px !important;
      border-bottom: 2px solid orange;
      margin-bottom: -1px; }

.footer {
  height: 100%;
  font-weight: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #1D2B37; }
  .footer h3 {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 2px solid #015DD6;
    letter-spacing: 0.09rem;
    display: block;
    font-size: 15px;
    text-transform: uppercase; }
  .footer #contact {
    width: 165px; }
  .footer #inquire {
    width: 230px; }
  .footer #dev {
    width: 160px; }
  .footer .contact_icon, .footer .message, .footer .developer {
    margin-top: 50px; }
    .footer .contact_icon h5, .footer .message h5, .footer .developer h5 {
      color: #e7e7e7;
      letter-spacing: 0.08rem; }
    .footer .contact_icon .form-group, .footer .message .form-group, .footer .developer .form-group {
      margin-top: -5px; }
    .footer .contact_icon input, .footer .contact_icon textarea, .footer .message input, .footer .message textarea, .footer .developer input, .footer .developer textarea {
      border: 1px solid #fff;
      box-shadow: none;
      border-radius: 1px;
      outline: none; }
    .footer .contact_icon input, .footer .message input, .footer .developer input {
      height: 40px; }
    .footer .contact_icon h4, .footer .contact_icon i, .footer .message h4, .footer .message i, .footer .developer h4, .footer .developer i {
      color: #e7e7e7;
      letter-spacing: 0.08rem; }
  .footer .developer i, .footer .contact_icon i {
    background-color: orange;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    padding: 8px 9px;
    margin-right: 10px; }
  .footer .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #015DD6;
    border: 1px solid #015DD6;
    border-radius: 2px;
    letter-spacing: 0.08rem; }
    .footer .btn:hover {
      border-radius: 13px 1px 13px 1px !important;
      border-bottom: 2px solid orange;
      margin-bottom: -1px; }
  .footer p {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 0.08rem; }

.sign-in, .sign-up {
  margin-top: 120px; }
  .sign-in h4, .sign-up h4 {
    letter-spacing: 0.08rem;
    font-size: 24px; }
  .sign-in .user, .sign-in .personal_info, .sign-in .user_confirm, .sign-up .user, .sign-up .personal_info, .sign-up .user_confirm {
    margin-top: 50px; }
    .sign-in .user .form-group, .sign-in .personal_info .form-group, .sign-in .user_confirm .form-group, .sign-up .user .form-group, .sign-up .personal_info .form-group, .sign-up .user_confirm .form-group {
      margin-top: -10px; }
    .sign-in .user input, .sign-in .user select, .sign-in .personal_info input, .sign-in .personal_info select, .sign-in .user_confirm input, .sign-in .user_confirm select, .sign-up .user input, .sign-up .user select, .sign-up .personal_info input, .sign-up .personal_info select, .sign-up .user_confirm input, .sign-up .user_confirm select {
      border: 1px solid rgba(1, 93, 214, 0.3);
      box-shadow: none;
      border-radius: 2px;
      outline: none;
      height: 40px;
      margin-top: -5px; }
    .sign-in .user label, .sign-in .personal_info label, .sign-in .user_confirm label, .sign-up .user label, .sign-up .personal_info label, .sign-up .user_confirm label {
      font-weight: 500;
      letter-spacing: 0.08rem; }
  .sign-in .btn, .sign-up .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #015DD6;
    border: 1px solid #015DD6;
    border-radius: 2px;
    letter-spacing: 0.08rem;
    margin-top: 10px; }
    .sign-in .btn:hover, .sign-up .btn:hover {
      border-radius: 13px 1px 13px 1px !important;
      border-bottom: 2px solid orange;
      margin-bottom: -1px; }
  .sign-in p, .sign-up p {
    padding-top: 50px;
    letter-spacing: 0.08rem; }

/*# sourceMappingURL=style.css.map */
